.title__container{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .title__container{
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .title__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }
}